.header {
    height: 80px;
    background: #3edaa7;
}
.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.nav{
    display: flex;
    border: 1px solid;
    width: 300px;
    justify-content: space-between;
}

