.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background: #c8bbd0;
    padding: 20px;
    box-sizing: border-box

}
.icon{
    width: 60px;
    height: 60px;
    background-color: #ee8cd3;
}