.skillsBlock{

    background-color: #47ee74;
}
.container{
    display: flex;
    align-items: center;
    border: 1px solid;
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    flex-direction: column;

}
.title{
    background: #c8bbd0;
}
.skills{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    border: 1px solid;
    flex-wrap: wrap;
}